---
# Default home page with boxes providing collection stats
layout: page
---

<div class="row">
  <div class="col-md-12">
    <br>
    <div class="p">
      Welcome to the 2023 holiday card! As many of you are aware, I’m Andrew. 
    </div>
    <br>
    <div class="p">
      Since some of you are abroad, I’ve decided to make a card that highlights one of the most important values of the season: streamlined efficiency. Where there was previously sharp, dangerous card stock and messy, expensive ink, I’ve transformed the medium to this static generated site you can view on any cold, lifeless screen you have within arm’s reach!</div> 
    <br>
    {% include feature/alert.html text="But Why Me? And Why Now??" color="success" align="center" %}
    <br>
    <div class="p"> Good questions. I can tell you are on edge, and justifiably so.</div>
    <br>
   <div class="p2">
   a) This holiday card is addressed to relatives I have seen over the course of 2023. Whether that involved having post-Christmas tacos, enjoying Cajun Pho in a Federal Way strip mall, eating Cuban Sandwiches in Seattle, having Filipino Sushi in Long Beach (that I <em>don’t</em> think about on a daily basis) or finding surprisingly authentic Chinese food in easternmost Washington. But the food is just a peripheral element to my favorite restaurant: <b>our friendship</b>. (this is true. But I have to keep up the joke-y tone of the overall piece).</div>
   
   <br>
   
   <div class="p2">
	 <p>b) It’s the holiday season and because I now live a <b>coddled, academic existence</b>, I’ve been afforded the time to innovate in the rapidly expanding ‘holiday card space’.</p> </div>

   <br>

   {% include feature/alert.html text="But What is This? And How Do I Do It??" color="success" align="center" %}

    <br>

   <div class="p">
   Still suspicious, then?

   If you click on the menu bar, you will find your "yuletide module.” These consist of:</div> <br>
   
   <div class="p2">
    a) <b>“Christmas Thoughts”:</b> A brief prose reflection that I’ve written after meditating for no less than 10-15 minutes on “Festive Concepts”, such as:</div>

    <div class="p3">
    - Hearths<br></div>
    <div class="p3">
		- Tinsel (PVC or polyvinyl chloride coated with a thin layer of metal, such as aluminum)<br></div>
    <div class="p3">
    - Baubles, Knick-Knacks, Tchotchkes, etc.<br></div>
<br>
    <div class="p">
      and 
    </div>  
<br>
    <div class="p2">
    b) A signature <b>“Holiday Dish”</b> I've hand-curated for you with my brain, that I promise to make the next time we see each other, which I hope will be soon!
    [even if you don’t want me to] 
    </div>
    <br>
    <div class="p">
    Wishing you all a wonderful holiday season and a very happy, fulfilling New Year! </div>
    <br>
    <div class="p">
    Love,
    </div>
    <br>
    <div class="p">
    Andrew
     </div>
     <br>
     <div class="p">
P.S.
If you are wondering what the banner image is from, please enjoy this restored version of the first multiverse movie: A Muppet Family Christmas (1987), wherein the muppets, the Sesame Street Gang and the Fraggles melt your cold heart with <b>pure chaos</b>. 
</div>
{% include feature/video.html objectid="https://www.youtube.com/watch?v=3gAniAEQrak" %}
  